/*Universal Styling*/

body {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(10 1fr);
  grid-template-rows: repeat(10 1fr);
}

*{
    font-family:Arial, Helvetica, sans-serif;
    font-size:22px;
    font-weight:bold;
    
}

a {
  color:white;
  text-decoration:none;
}


a:hover {
  text-decoration:underline;
  cursor:pointer;
}

a:active {
  color:darkslategray;
}

/*Header and Nav Bar*/
header{
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: lightslategray;
  width: 100%;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end:8;
  grid-row-start:1;
  grid-row-end:1;
  border-bottom:darkslategray solid 2px;

}
#homepage {
    color:white;
    font-weight: bold;
    margin-top:20px;
    font-size:1.5em;
    margin-left:10px;
    margin-bottom:0px;
       
}

nav {
    margin-left: 45%;
    
}

ul {
    display: inline-block;
   
}

li {
    position: relative;
    display: inline;
    width: 100%;
    list-style-type: none;
    margin: 20px;
    color: white;
    
}




/*Main body*/

.mainbody {
  grid-column-start:1;
  grid-column-end:10;
  grid-row-start:4;
  grid-row-end:8;
  border-bottom:darkslategray solid 2px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/toycars2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position:relative;
  height:600px;
  width: 100%;
}

.mainbodytitle {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-top: 80px;
  }

.mainbodytext {
  color: white;
  text-align: center;
  margin-top: 120px;
  line-height: 40px;
}






/*Information Section*/
.information {
  grid-column-start:4;
  grid-column-end:6;
  grid-row-start:9;
  grid-row-end:9;
  text-align: center;
  
}




  /*Footer*/
  footer {
    background-color: lightslategray;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    position:fixed;
    width: 100%;
    grid-column-start:1;
    grid-column-end:10;
    grid-row-start:10;
    grid-row-end:10;
   }
  
  #copyright {
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    color: white;
    text-align: center;
    margin-bottom:4px;
  }
  